* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  width: 90%;
  background: #eee;
  margin: auto;
  align-items: center;
  height: 10vh;
}

.logo-container,
.nav-links,
.cart {
  display: flex;
}

.logo-container {
  flex: 1;
}

.logo {
  font-weight: 400;
  margin: 15px;
}

nav {
  flex: 2;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: #5f5f79;
  text-decoration: none;
  font-size: 18;
}

.cart {
  flex: 1;
  justify-content: flex-end;
}

.presentation {
  display: flex;
  width: 90%;
  align-items: center;
  margin: auto;
  min-height: 80vh;
}
.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: bolder;
  background: linear-gradient(to right, #494949, #eb710d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #aaa39d;
}

.cover {
  flex: 1;
}
.cover img {
  height: 70vh;
}

.cta {
  padding: 50px 0px 0px 0px;
}

.cta-select {
  cursor: pointer;
  background: transparent;
  border: 2px solid #b36cbb;
  color: #b36cbb;
  width: 150px;
  height: 50px;
  font-size: 17px;
}

.cta-add {
  border: none;
  background: #b36cbb;
  color: white;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 17px;
  margin: 0px 0px 0px 30px;
}
